section#sponsors .partner-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
  text-align: center;
  min-height: 150px;
}

section#sponsors .partner-container img {
  height: 80px;
  max-width: 100vw;
  margin: 5vh 2vw;
}

@media only screen and (max-width: 640px) {
  section#sponsors .partner-container img {
    margin: 5vh 100vw;
    max-width: 70vw;
    height: auto;
  }
}

section#sponsors p.large {
  text-align: center;
}

/* section#sponsors img.sponsor-image {
  filter: opacity(65%) url("data:image/svg+xml;utf8,&lt;svg xmlns='https://www.w3.org/2000/svg'&gt;&lt;filter id='grayscale'&gt;&lt;feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
  filter: opacity(65%) grayscale(1);
  -webkit-filer: opacity(65%) grayscale(1);
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

section#sponsors img.sponsor-image:hover,
section#sponsors img.sponsor-image.hover {
  filter: url("data:image/svg+xml;utf8,&lt;svg xmlns='https://www.w3.org/2000/svg'&gt;&lt;filter id='grayscale'&gt;&lt;feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
  filter: none;
  -webkit-filer: none;
} */
section#sponsors a.sponsor-wrapper {
  position: relative;
}

section#sponsors img.sponsor-image {
  transition: opacity 0.4s ease-in-out;
}

section#sponsors img.sponsor-image.normal {
  position: absolute;
  top: 0;
}

section#sponsors img.sponsor-image.show {
  opacity: 1;
}

section#sponsors img.sponsor-image.hide {
  opacity: 0;
}

/*
section#sponsors a.sponsor-wrapper {
  position: relative;
}

section#sponsors a.sponsor-wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #33cccc;
  transition: background 0.3s linear;
}

section#sponsors a.sponsor-wrapper:hover:before {
  background: none;
} */
div.tooltip.show {
  /* section#sponsors because reactstrap adds the tooltip to the end of <body> */
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 7px;
  border-radius: 0.5rem;
  z-index: 50;
}
