section.faq {
  padding: 1px 0;
  line-height: 1.3em;
}

section.faq .container {
  max-width: 900px;
}

section.faq .header-row {
  display: flex;
  flex-orient: horizontal;
  flex-align: stretch;
  align-items: center;
}

section.faq .header-row .animation-container.horizontal {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}

section.faq .header-row .section-title {
  margin: 0 20px;
  width: 200px;
}

@media only screen and (max-width: 640px) {
  section.faq .header-row .section-title {
    width: 100%;
    margin-bottom: 30px;
  }
}

section.faq p.large {
  text-align: center;
}

@media only screen and (max-width: 640px) {
  section.faq p.large {
    max-width: 80%;
    display: block;
    margin: auto;
  }
}

section.faq a {
  color: #fff;
}

section.faq .animation-container.left {
  height: 70px;
  margin-top: -41px;
}

section.faq .animation-container.right {
  height: calc(100% + 11px);
}

section.faq ul.faq-container {
  display: block;
  position: relative;
  overflow: hidden;
  font-size: 0;
}

section.faq ul.faq-container .row {
  margin: 20px -10px 0;
  padding: 0 30px;
  font-size: 0;
}

section.faq ul.faq-container .row:before,
section.faq ul.faq-container .row:after {
  content: "";
  display: table;
}

section.faq ul.faq-container .row:after {
  clear: both;
}

@media only screen and (max-width: 640px) {
  section.faq ul.faq-container .row {
    margin: 0;
  }
}
