section.faq {
  padding: 1px 0;
  line-height: 1.3em;
  display: flex;
  flex-direction: column;
}

section.faq .faq-wrapper {
  display: grid;
  max-width: min(80%, 100rem);
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

@media only screen and (max-width: 640px) {
  section.faq .header-row .section-title {
    width: 100%;
    margin-bottom: 30px;
  }
}

section.faq p.large {
  text-align: center;
}

@media only screen and (max-width: 640px) {
  section.faq p.large {
    max-width: 80%;
    display: block;
    margin: auto;
  }
}

section.faq a {
  color: #fff;
}

section.faq .bottom-question {
  margin: 1em auto;
}
