section.hero {
  height: 100%;
  min-height: 750px;
  padding-top: 5%;
  position: relative;
  background: url(../../images/bkg.png) center top;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  /* color: #353535; */
}

section.hero .social-links {
  left: 0;
  position: absolute;
  top: -15px;
  left: 0;
}

section.hero .social-links .social {
  font-size: 22px;
  margin: 20px;
  display: block;
}

section.hero #mlh-trust-badge {
  position: absolute;
  top: 0;
  right: 50px;
  width: 100px;
  display: block;
  z-index: 10000;
}

@media only screen and (max-width: 640px) {
  section.hero #mlh-trust-badge {
    right: 10px;
    width: 75px;
  }
}

section.hero .logo {
  display: block;
  max-width: 500px;
  margin: auto;
}

@media only screen and (max-width: 640px) {
  section.hero .logo {
    max-width: 90%;
  }
}

section.hero .event-date,
section.hero .event-location,
section.hero .event-announcement {
  /* color: rgb(53, 53, 53); */
  width: 100%;
  text-align: center;
  margin-top: 0;
}

@media only screen and (max-width: 640px) {
  section.hero .event-date,
  section.hero .event-location,
  section.hero .event-announcement {
    width: 90%;
    text-align: center;
    margin: auto;
  }
}

section.hero .event-date.event-date,
section.hero .event-location.event-date,
section.hero .event-announcement.event-date {
  font-size: 45px;
}

@media only screen and (max-width: 640px) {
  section.hero .event-date.event-date,
  section.hero .event-location.event-date,
  section.hero .event-announcement.event-date {
    font-size: 32px;
  }
}

section.hero .event-date.event-location,
section.hero .event-location.event-location,
section.hero .event-announcement.event-location {
  font-size: 25px;
}

@media only screen and (max-width: 640px) {
  section.hero .event-date.event-location,
  section.hero .event-location.event-location,
  section.hero .event-announcement.event-location {
    margin-top: 10px;
    font-size: 22px;
  }
}

section.hero .event-date.event-announcement,
section.hero .event-location.event-announcement,
section.hero .event-announcement.event-announcement {
  font-size: 35px;
}

@media only screen and (max-width: 640px) {
  section.hero .event-date.event-announcement,
  section.hero .event-location.event-announcement,
  section.hero .event-announcement.event-announcement {
    margin-top: 0;
    font-size: 22px;
  }
}

section.hero .animation-container.left {
  height: 100px;
  bottom: -75px;
  left: -50px;
}

section.hero .container {
  height: 100%;
  margin-top: -5%;
  padding-top: 2%;
}

section.hero .event-date,
section.hero .event-location {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

section.hero .event-date.event-date,
section.hero .event-location.event-date {
  font-size: 45px;
}

section.hero .event-date.event-location,
section.hero .event-location.event-location {
  font-size: 25px;
}
