section.faq .wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

section.faq .wrapper .container {
  font-size: 1rem;
  border-color: #a0aec0;
  background-color: white;
  border-width: 2px;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 1em;
  width: 80%;
  max-width: none;
  margin-top: 0;
  margin-bottom: 0;
  flex-grow: none;
  transition: all 250ms ease-in-out;
  transition-property: margin, transform, border-radius, opacity;
}

section.faq .wrapper .container.round-bottom {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

section.faq .wrapper .container.dim {
}

section.faq .wrapper .container:hover {
  background-color: #d8e3e6;
}

section.faq .wrapper .container:first-child {
  border-top-width: 2px;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}


section.faq .wrapper .container:last-child {
  border-bottom-width: 2px;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}



section.faq .wrapper .container:not(.selected) + .container:not(.selected) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

section.faq .wrapper .container.selected + .container {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-top-width: 2px;
}

section.faq .wrapper .container.selected {
  margin: 1.5rem auto;
  border-width: 2px;
  border-radius: 0.5rem;
  transform: scale3d(1.075, 1.075, 1);
}
