section.faq ul.faq-container li.question-group {
  box-sizing: border-box;
  float: left;
  margin-bottom: 0;
  width: 33.33333%;
  padding-left: 10px;
  padding-right: 10px;
  list-style: none;
  font-size: 16px;
}

@media only screen and (max-width: 640px) {
  section.faq ul.faq-container li.question-group {
    box-sizing: border-box;
    float: left;
    margin: 10px 0;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

section.faq
  ul.faq-container
  li.question-group.is-open
  .question
  .icon.icon-close {
  opacity: 1;
}

section.faq
  ul.faq-container
  li.question-group.is-open
  .question
  .icon.icon-plus {
  opacity: 0;
  transform: rotate(-45deg) translate(41%, -34%);
}

section.faq ul.faq-container li.question-group.is-open h3.question:hover {
  color: #555;
}

section.faq ul.faq-container li.question-group.is-open:hover {
  color: #555;
}

section.faq ul.faq-container li.question-group.is-open:hover .icon {
  color: #64d861;
}

section.faq ul.faq-container li.question-group h3.question {
  transition: color 0.5s;
  font: 20px/40px "Roboto", sans-serif;
  display: block;
  position: relative;
  text-align: center;
  background-color: #fff;
  color: #555;
  text-align: left;
  height: calc(3em + 16px + 8px);
  padding: 8px 40px 8px 16px;
  cursor: pointer;
  transition: color 0.5s;
  line-height: 1em;
  display: flex;
  align-items: center;
}

section.faq ul.faq-container li.question-group h3.question.small {
  line-height: 1em;
}

@media only screen and (max-width: 640px) {
  section.faq ul.faq-container li.question-group h3.question.small.not-mobile {
    line-height: 40px;
  }
}

section.faq ul.faq-container li.question-group h3.question .icon {
  transition: transform 0.5s, opacity 0.5s;
  float: right;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 26px;
  right: 16px;
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}

section.faq ul.faq-container li.question-group h3.question .icon.icon-plus {
  opacity: 1;
}

section.faq ul.faq-container li.question-group h3.question .icon.icon-close {
  transform: translate(-55%, -50%);
}

section.faq ul.faq-container li.question-group h3.question:hover {
  color: #64d861;
}

section.faq ul.faq-container li.question-group div.answer {
  transition: all 0.5s ease-in;
  background: #fff;
  box-sizing: border-box;
  font-size: 15px;
  line-height: 1.4em;
  opacity: 1;
  overflow: hidden;
  background: #fff;
  color: #555;
}

section.faq ul.faq-container li.question-group div.answer:before {
  content: "";
  display: block;
  position: absolute;
  left: 16px;
  right: 16px;
  top: 1px;
  height: 2px;
  background-color: #64d861;
}

section.faq ul.faq-container li.question-group div.answer p {
  margin: 16px;
}

section.faq ul.faq-container li.question-group div.answer a {
  color: #64d861;
}
