section.faq div.container div {
  box-sizing: border-box;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  gap: 1em;
  font-size: 16px;
}

section.faq div.container div div {
  height: fit-content;
  background: #fff;
  box-sizing: border-box;
  border-radius: 25px;
}

section.faq div.container div h3.question button {
  width: 100%;
  height: 100%;
  line-height: 1em;
  box-sizing: border-box;
  float: left;
  font: 20px/40px "Roboto", sans-serif;
  color: #555;
  text-align: left;
  cursor: pointer;
  transition: color 0.5s;
  line-height: 1em;
  display: flex;
  align-items: center;
  border-radius: 0;
  border: none;
  padding: 0;
  margin: 0;
  align-items: center;
  margin-right: 52px;  /* width of icon */
}

section.faq div.container div h3.question button:hover {
  background: none;
  border: none;
  color: #33cccc;
}

section.faq div.container div.is-open .question .icon.icon-close {
  opacity: 1;
}

section.faq div.container div.is-open .question .icon.icon-plus {
  opacity: 0;
  transform: rotate(-45deg) translate(41%, -34%);
}

section.faq div.container div.is-open h3.question:hover {
  color: #555;
}

section.faq div.container div.is-open:hover {
  color: #555;
}

section.faq div.container div.is-open:hover .icon {
  color: #33cccc;
}

section.faq div.container div h3.question {
  transition: color 0.5s;
  font: 20px/40px "Roboto", sans-serif;
  display: flex;
  position: relative;
  background-color: #fff;
  color: #555;
  text-align: left;
  height: calc(3em + 16px + 8px);
  cursor: pointer;
  border-radius: 25px;
  transition: color 0.5s;
  line-height: 1em;
  display: flex;
  align-items: center;
  padding-left: 0.5em;
}


section.faq div.container div h3.question.small {
  line-height: 1em;
}

@media only screen and (max-width: 640px) {
  section.faq div.container div h3.question.small.not-mobile {
    line-height: 40px;
  }
}

section.faq div.container div h3.question .icon {
  transition: transform 0.5s, opacity 0.5s;
  float: right;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 26px;
  right: 16px;
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}

section.faq div.container div h3.question .icon.icon-plus {
  opacity: 1;
}

section.faq div.container div h3.question .icon.icon-close {
  transform: translate(-55%, -50%);
}

section.faq div.container div h3.question:hover {
  color: #33cccc;
}

section.faq div.container div div.answer {
  transition: all 0.5s ease-in-out;
  font-size: 15px;
  line-height: 1.4em;
  opacity: 1;
  overflow: hidden;
  color: #555;
}

section.faq div.container div div.answer p {
  margin: 16px;
}

section.faq div.container div div.answer a {
  color: #33cccc;
}
